<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="JITContainer" connectionString="metadata=res://*/JIT.csdl|res://*/JIT.ssdl|res://*/JIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DIME2Barcode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DIME2BarcodeContainer" connectionString="metadata=res://*/DIME2Barcode.DIME2Barcode.csdl|res://*/DIME2Barcode.DIME2Barcode.ssdl|res://*/DIME2Barcode.DIME2Barcode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DIME2Barcode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DIME2Barcode" connectionString="Data Source=.;Initial Catalog=DIME2Barcode;Integrated Security=True"/>
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
